<h2 class="text-center">Resort Details</h2>
<table class="table table-bordered">
    <thead>
        <tr class="align-middle">
            <th class="text-center">S.No</th>
            <th class="text-center">Resort Name</th>
            <th class="text-center">Resort Description</th>
            <th class="text-center">Resort Image</th>
            <th class="text-center">Resort Available Status</th>
            <th class="text-center">Resort Location</th>
            <th class="text-center">Capacity</th>
            <th class="text-center">Price</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="align-middle">1</td>

            <td class="align-middle">
                <input id="ResortName" name="ResortName" type="name"/>    
            </td>

            <td class="align-middle">
                <textarea id="ResortDescription" name="ResortDescription"></textarea>
            </td>
            <td class="align-middle">
                <img src="https://assets.architecturaldigest.in/photos/600847c388d5cb634511edfe/16:9/w_1920,c_limit/resorts-mumbai-long-weekend-featured-image-1366x768.jpg" width="200" height="100">
                <!-- <input type="file"> -->
            </td>

            <td class="align-middle">
                <select class="form-control dropdown-toggle" >
                    <option selected>Select available</option>
                    <option value="1">Available</option>
                    <option value="2">Not available</option>
                </select>
            </td>

            <td class="align-middle">
                <textarea class="form-control" id="ResortDescription" name="ResortDescription"></textarea>
            </td>

            <td class="align-middle">
                <input class="form-control" id="ResortName" name="ResortName" type="number"/>
            </td>

            <td class="align-middle">
                <input class="form-control" id="ResortName" name="ResortName" type="number"/>
            </td>
            <td class="text-center">
                <!-- <a [routerLink]= "['/editResort']" class="btn btn-info">Save</a> -->
                <!-- <a [routerLink]="['/deleteResort']" class="btn btn-secondary m-1">Cancel</a> -->
            </td>
        </tr>
    </tbody>
</table>

<br>
<br>
<br>
<br>