<nav class="navbar" style="background-color: rgb(220, 46, 72);">
    <a class="navbar-brand px-4">
      <b>Resort Booking Portal</b>
    </a>
    <div class="nav justify-content-end px-4">
      <div class="nav">
      <a class="nav-link text-white" href="/home">Home</a>
      <a class="nav-link text-white" href="/customerviewresort">Resort</a>  
      <a class="nav-link text-white" href="/customerviewbooking">Booking</a>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Reviews
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/addreview">Add Review</a></li>
          <li><a class="dropdown-item" href="/customerviewreview">View Review</a></li>
        </ul>
      </li>
      <a class="nav-link text-white" (click)="Logout()">Logout</a>
    </div>
    </div>
  </nav>
  <br>
  <br>
  <br>