<h2 class="text-center"><b>Review Details</b></h2>
<br>
<table class="table table-bordered">
  <thead>
    <tr class="align-middle text-center">
      <th>S.No</th>
      <th>User Name</th>
      <th>Resort Name</th>
      <th>Review</th>
      <th>Rating (out of 5)</th>
      <th>Date Created</th>
    </tr>
  </thead>
  <tbody>
    <tr class="align-middle text-center" *ngFor="let r of review">
      <td>{{ r.ReviewId }}</td>
      <td>{{ r.User.UserName }}</td>
      <td>{{ r.Subject }}</td>
      <td>{{ r.Body }}</td>
      <td>{{ r.Rating }}</td>
      <td>{{ r.DateCreated | date:'dd-MM-yyyy' }}</td>
    </tr>
  </tbody>
</table>
